FORGEJO_URL=http://forgejo
FORGEJO_GIT_URL=http://forgejo
FORGEJO_ROOT_URL=https://git.os7.dev/
FORGEJO_SSH_DOMAIN=git.os7.dev
FORGEJO_SSH_PORT=2222

FORGEJO_POSTGRES_DATABASE=forgejo
FORGEJO_POSTGRES_USER=forgejo
FORGEJO_POSTGRES_PASSWORD=change-me-forgejo-postgres-password

FORGEJO_SECRET_KEY=change-me-forgejo-secret-key
FORGEJO_INTERNAL_TOKEN=change-me-forgejo-internal-token
FORGEJO_DISABLE_REGISTRATION=true
FORGEJO_ADMIN_USER=root
FORGEJO_ADMIN_PASSWORD=change-me-forgejo-admin-password
FORGEJO_ADMIN_EMAIL=root@os7.dev

FORGEJO_CPUS=1.00
FORGEJO_MEMORY_LIMIT=1024m

SEAWEEDFS_IMAGE=chrislusf/seaweedfs:4.34
SEAWEEDFS_S3_ACCESS_KEY=change-me-seaweedfs-access-key
SEAWEEDFS_S3_SECRET_KEY=change-me-seaweedfs-secret-key
SEAWEEDFS_IAM_SIGNING_KEY=change-me-seaweedfs-iam-signing-key-base64
SEAWEEDFS_POSTGRES_HOST=postgres
SEAWEEDFS_POSTGRES_PORT=5432
SEAWEEDFS_POSTGRES_DATABASE=seaweedfs
SEAWEEDFS_POSTGRES_USER=seaweedfs
SEAWEEDFS_POSTGRES_PASSWORD=change-me-seaweedfs-postgres-password
SEAWEEDFS_POSTGRES_SSLMODE=disable
SEAWEEDFS_POSTGRES_CONNECTION_MAX_IDLE=100
SEAWEEDFS_POSTGRES_CONNECTION_MAX_OPEN=100
SEAWEEDFS_CPUS=1.00
SEAWEEDFS_MEMORY_LIMIT=1024m
